{% extends 'base.twig' %}

{% block subheader %}
  <div class="container-fluid py-2 bg-light border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-4">
          {% for cat in categories %}
            {% if cat.name == current.name or cat.name in post.terms('categories') %}
              <a role="button" href="/category/{{ cat.slug }}" class="btn btn-success btn-sm">
                {{ cat.name }}
                <span class="badge badge-light">{{ current.count }}</span>
              </a>
            {% else %}
              <a role="button" href="/category/{{ cat.slug }}" class="btn btn-outline-success btn-sm">
                {{ cat.name }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-8 text-right">
          {% for tag in tags %}
            {% if tag.name == current.name or tag.name in post.terms('post_tag') %}
              <a role="button" href="/tag/{{ tag.slug }}" class="btn btn-info btn-sm">
                {{ tag.name }}
                <span class="badge badge-light">{{ current.count }}</span>
              </a>
            {% else %}
              <a role="button" href="/tag/{{ tag.slug }}" class="btn btn-outline-info btn-sm">
                {{ tag.name }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% for post in posts %}
    {{ include('parts/news-teaser.twig') }}
  {% endfor %}
  {{ include('parts/pagination.twig') }}
{% endblock %}