{% extends 'base.twig' %}

{% block subheader %}
  {{ block('subheader', 'pages/people.twig') }}
{% endblock %}

{% block content %}
  {% for place in places.posts %}
    <div class="row mt-2">
      <div class="col-2">
        <img src="{{ place.thumbnail.src('large') }}" width="100%" class="rounded">
      </div>
      <div class="col-10">
        <h5>{{ place.title }}</h5>
        {{ place.content|excerpt(30) }}

        <div class="mt-4">
          {% for person in people %}
            {% if place.title in person.meta('favourite_places') %}
              <a href="{{ person.link }}">
                <img src="{{ person.thumbnail.src('thumbnail')|resize('70') }}" class="rounded-circle border dark">
              </a>
            {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>
  {% endfor %}
{% endblock %}